/*XL device  :1200px.*/
@media (min-width:1200px) and (max-width:1500px){
.hire-btn a {
	margin-left: 100px;
}
nav ul li a {
	margin-left: 31px;
}

}
/*LG device :992px.*/
@media (min-width :992px) and (max-width:1200px){
.plf-75 {
	padding: 0px 20px;
}
nav ul li a {
	margin-left: 33px;
}
.hire-btn a {
	margin-left: 60px;
}
.slider-text h1 {
	font-size: 47px;
}
.feature-area {
	top: 0px;
}
.single-feature h6 {
	margin-bottom: 25px;
	margin-top: 23px;
	font-size: 20px;
}
.single-feature {
	padding: 46px 41px;
}
section.why-us {
	margin-top: 80px;
}
.why-us-text h3 {
	font-size: 33px;
}
.why-us-text::before {
	top: 97px;
}
.why-us-text .btn-3 {
	margin-top: 11px;
}
.why-us-img {
	margin-top: 40px;
}
.contact-text h1 {
	font-size: 24px;
}
.subscribe-form input {
	height: 42px;
	padding: 12px 26px;
	border-radius: 30px;
	margin-right: 10px;
}
.single-course {
	padding-top: 46px;
	padding-left: 15px;
	padding-bottom: 61px;
	padding-right: 15px;
}
.course-icon-title h4 {
	font-size: 20PX;
}
.co {
	font-size: 35px;
}
.course-icon-title p {
	max-width: 100%;
	margin-bottom: 28px;
	font-size: 13px;
}
.pricing-text h4{
	font-size: 30px;
}
.pricing-list {
	margin-top: 22px;
	padding-top: 0;
}
.pricing-list h5 {
	font-size: 20px;
	padding: 30px 0px;
}
.pricing-list span {
	font-size: 28px;
	top: 8px;
}
.pricing-list span span {
	font-size: 14px;
	top: -11px;
	left: -2px;
}
span.counter {
	font-size: 26px;
}
.ico {
	font-size: 18px;
}
.single-team-text h6 {
	font-size: 20px;
}
.social-icon a.team {
	padding: 0px 11px;
}
.news-area {
	padding: 80px 0px;
}
.news-text h2{
	font-size: 29px;
}
.news-content h3 {
	font-size: 20px;
	line-height: 1.5;
}
section.testimonial {
	padding: 80px 0px;
}
.brand.text-center {
	padding: 90px;
}
.footer-content h3 {
	font-size: 20px;
}
.footer-content ul li {
	margin-bottom: 25px;
	margin-top: 40px;
}
a.f {
	padding: 0px 13px;
}
.row.end {
	padding: 20px 0px;
}



}
/*MD device 768px*/
@media (min-width :768px) and (max-width :992px){
.mean-container a.meanmenu-reveal span {
	background: #090101;
}
.slider-text h1 {
	font-size: 30px;
}
.social-icon a {
	padding: 0px 10px;
}
.btn {
	padding: 13px 30px;
}
.single-feature .h {
	font-size: 20px;
}
.single-feature h6 {
	margin-bottom: 12px;
	margin-top: 13px;
	font-size: 12px;
	line-height: 1.4;
}
.single-feature {
	padding: 30px 0px;
}
.feature-area {
	top: 0px;
}
section.why-us {
	margin-top: 70px;
	margin-bottom: 100px;
}
.why-us-text h3 {	
	font-size: 27px;
}
.why-us-img {
	padding-top: 43px;
}
.why-us-text .btn-3 {
	margin-top: 10px;
}
.contact-text h1 {
	font-size: 23px;
}
.contact-text p {
	padding-bottom: 10px;
}
.subscribe-form input {
	width: 21%;
	height: 36px;
	padding: 0px 18px;
	border-radius: 44px;
	margin-right: 9px;
	font-size: 11px;
}
.subscribe-form button {
	padding: 7px 36px;
	border-radius: 40px;
	font-size: 12px;
}
section.contact-area {
	padding-top: 50px;
}
.ptb-100 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.single-course {
	padding-top: 38px;
	padding-bottom: 33px;
	padding-left: 0px;
	padding-right: 0px; 
}
.co {
	font-size: 20px;
}
.course-icon-title h4 {
	font-size: 17PX;
	margin-bottom: 14px;
	margin-top: 15px;
}
.course-icon-title p {
	max-width: 100%;
	margin-bottom: 18px;
	font-size: 13px;
}
.btn {
	padding: 10px 24px;
	font-size: 11px;
}
.ptb-90 {
	padding: 45px 0px;
}
.pricing-text h4 {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0px;
	font-weight: 600;
	font-size: 27px;
	color: #404044;
}
.pricing-list {
	margin-top: 11px;
	padding-bottom: 30px;
}
.pricing-list span {
	font-size: 27px;
	top: 8px;
}
.pricing-list span span {
	font-size: 15px;
	top: -10px;
	left: 0px;
}
.pricing-list li {
	margin-bottom: 10px;
	margin-top: 12px;
}
.ico {
	font-size: 16px;
	margin-bottom: 12px;
}
span.counter {
	font-size: 22px;
}
.pbt-60 {
	padding: 30px 0px;
}
.single-team-text h6 {
	font-size: 16px;
}
.news-content h3 {
	font-size: 19px;
	margin-top: 18px;
	line-height: 1.5;
}
.ptb-100 {
	padding-top: 44px;
	padding-bottom: 44px;
}
.ptb-90 {
	padding: 40px 0px;
}
section.testimonial {
	padding: 70px 0px;
}
.single-footer {
	padding: 45px 0px;
}
.footer-content h3 {
	font-size: 17px;
}
.footer-content ul li {
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 0px;
}
.row.end {
	padding: 20px 0px;
}

}



/* Extra SMALL device:767; */
.plf-75 {
	padding: 0px 0px;
}
@media (max-width: 768px){
.mean-container a.meanmenu-reveal {
	top: -67px;
	color: #130101 !important;
}
.mean-container a.meanmenu-reveal span {
	background: #170202;
}
.social-icon a {
	padding: 0px 8px;
	font-size: 16px;
}
.slider-text h1 {
	font-size: 25px;
}
.btn {
	padding: 10px 20px;
	font-size: 12px;
}
.feature-area {
	top: 0px;
}
.single-feature {
	border-bottom: 1px solid #fff;
}
.col-xl-4:nth-child(3) .single-feature.text-center {
	border-bottom: 0;
}
.single-feature {
	padding: 45px 0px;
}
section.why-us {
	margin-top: 50px;
	margin-bottom: 50px;
}
.why-us-text .btn-3 {
	margin-top: 0px;
}
.why-us-img {
	padding-top: 40px;
}
.contact-text h1 {
	font-size: 24px;
}
.subscribe-form input {
	width: 100%;
	margin-bottom: 15px;
}
.ptb-100 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.ptb-90 {
	padding: 45px 0px;
}
.pricing-list {
	margin-top: 10px;
	padding-top: 0;
	margin-bottom: 15px;
}
.pbt-60 {
	padding: 40px 0px;
}
.counter-up {
	border-bottom: 1px solid aliceblue;
	margin-top: 10px;
}
section.testimonial {
	padding: 70px 0px;
}
.testimonial-text p {
	max-width: 100%;
}
.single-footer {
	padding: 40px 0px;
}
.footer-content {
	text-align: center;
}



}